.calendarIconContainer {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(75, 34, 175, 0.16);
  border: 1px dashed #DDE5EC;
  border-radius: 5px;
}